.config{
  ul{
    list-style:none;
    margin:0px;
    padding:0px;

    li{

      label, input, select{
        margin-top:20px;
      }

      label{
        float:left;
        clear:left;
        width:35%;
      }

      input, select{
        float:left;
        clear:right;
        width:60%
      }
    }
  }
}
